.message{data: {"message-id": "#{message.id}"}}
  .message-status
    .talker
      = message.user.name
    .date
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M")
  .text
    - if message.content.present?
      %p.content
        = message.content
    - if message.image.present?
      %p.lower-message__image
        = image_tag message.image.url
  