.wrapper

  = render 'shared/side_bar'

  .chat-main
    .main-header
      .group-status
        .current-group
          グループ名
        %ul.member-list
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .edit
        .edit-group__btn
          Edit
    .messages
          = render @messages
     
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :sontent, class: 'form__message', placeholder: 'type a message'
        .input-box
          =f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            =  f.file_field :image, class: 'hidden'
        =f.submit 'Send',class: 'submit-btn'
